	@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
body {
	font-family: "Helvetica Neue", Helvetica, Sans-Serif;
	outline: none
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-bottom: 10px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif
}
h1 {
	font-size: 26px
}
h2 {
	font-size: 22px
}
h3 {
	font-size: 20px
}
h4 {
	font-size: 18px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 14px
}
ul, ol {
	margin-left: 25px;
	margin-bottom: 10px
}
ul {
	list-style: disc
}
ol {
	list-style: decimal
}
li {
	margin-bottom: 10px
}
p {
	margin: 12px 0
}
p, ul, ol, li {
	color: #666;
	line-height: normal
}
strong {
	font-weight: bold;
	color: #333
}
hr {
	border: none;
	background: #eee;
	margin: 7px 0;
	height: 1px;
	box-shadow: 0 1px 0 #fff
}
.mast {
	position: absolute;
	height: 66px;
	background-color: #222;
	background-size: 66px
}
.mast .inner #logoin {
	position: relative
}
.mast .inner #joinnow {
	display: none
}
#home {
	padding: 15px 0 0 0
}
#home h1 {
	color: #444;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: -2px;
	font-family: "Helvetica Neue", Helvetica, Sans-Serif
}
#home h2 {
	color: #555;
	letter-spacing: -1px;
	font-weight: 400
}
#home fieldset {
	border: 0
}
#home #p1, #home #p2, #home #p3, #home #e1, #home #e2, #home #e3, #home #e4, #home #e5, #home #e6, #home #e7 {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: opacity 0.5s ease;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0
}
#home #p1.show, #home #p2.show, #home #p3.show, #home #e1.show, #home #e2.show, #home #e3.show, #home #e4.show, #home #e5.show, #home #e6.show, #home #e7.show {
	height: auto;
	visibility: visible;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
#home .signin {
	display: none
}
#home .signup .col-1-2 {
 margin: 150px 0 140px 0; 	
	padding: 10px
}
#home .signup hr {
	margin: 15px 0
}
#home .signup p {
	margin: 0;
	font-size: 14px
}
#home .signup p a {
	white-space: nowrap
}
#home .signup input {
	width: 120px;
	height: 46px;
	margin-left: 10px;
	font-size: 18px;
	padding: 7px 10px;
	margin: 0 15px 15px 0;
	font-family: "Open Sans", sans-serif;
	float: left;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
#home .signup input:focus {
	border-color: #006ccd
}
#home .signup button {
	color: #fff;
	cursor: pointer;
	margin: 0 0 15px 0;
	display: block;
	width: 170px;
	height: 46px;
	font-weight: 400;
	font-size: 17px;
	float: left;
	text-align: center;
	border: 1px solid #0060b8;
	background: #228ad0;
	border-radius: 3px
}
#home .signup button:hover {
	background: #4f8ff0
}
#home .signup button:active {
	box-shadow: none;
	outline: none;
	position: relative;
	top: 1px
}
#home .nametag .col-1-2 {
	 height: 540px 
  
}
#home .nametag #p1, #home .nametag #p2, #home .nametag #p3 {
	overflow: visible
}
#home .nametag .nametag-badge {
	margin: 0 0 0 50px;
	width: 368px;
	height: 530px;
	z-index: 6666
}
#home .nametag .person {
	width: 288px;
	height: 420px;
	margin: 0 0 0 90px;
	padding: 15px 20px 20px 20px;
	position: relative;
	top: -425px;
	left: 0;
	z-index: 7777
}
#home .nametag .person hr {
	background-color: #f4f4f4
}
#home .nametag .person img {
	width: 100px;
	height: 100px;
	margin: 10px 10px 10px 0;
	border-radius: 2px
}
#home .nametag .person img.association {
	margin: 10px 10px 10px 0
}
#home .nametag .person p {
	font-family: "Shadows Into Light Two", Georgia, Times;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.2;
	color: #555
}
#home .nametag .person h5, #home .nametag .person h6 {
	margin: 3px 0
}
#home .nametag .person h5 {
	color: #000;
	font-size: 16px;
	font-weight: 600
}
#home .nametag .person h5 span {
	font-weight: normal;
	font-size: 14px;
	color: #777
}
#home .nametag .person h6 {
	font-size: 11px;
	color: #999
}
#home .endorsements {
	height: auto;
	overflow: hidden;
	padding: 10px
}
#home .endorsements p {
	font-family: "Georgia", Times, Serif;
	font-size: 18px;
	text-align: right;
	margin: 40px 0 0 0
}
#home .endorsements img {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
	margin: 20px 0;
	height: 60px
}
#home .endorsements img.cc {
	margin: 36px 0;
	height: 30px
}
#home .features {
	padding: 10px
}
#home .features .col-1-3 {
	margin: 0
}
#home .features h4 {
	color: #444;
	font-weight: 600;
	letter-spacing: -1px;
	margin: 5px 0 5px -1px
}
#home .features p {
	margin: 6px 0 15px 0
}
#home .features img {
	margin: 10px 0 0 0;
	width: 32px;
	height: 32px;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=75);
	opacity: 0.75
}
#home .signup_again {
	margin: 30px 0
}
#home .signup_again .card {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	padding: 10px 10px 0 10px
}
#home .signup_again h6 {
	color: #555;
	margin: 0 0 5px 0
}
#home .signup_again input, #home .signup_again button {
	height: 32px;
	margin: 0 0 10px 0;
	width: 146px
}
#home .signup_again button {
	position: relative;
	top: -1px;
	background: #228ad0;
	font-weight: 500
}
#home .signup_again button:hover {
	background: #4f8ff0
}
#home .signup_again input {
	margin-right: 10px;
	border: 1px solid #bbb;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
#home .signup_again input:hover, #home .signup_again input:active {
	border-color: #2079b5
}
#home.v2 .features img {
	float: left;
	margin: 5px 15px 40px 0
}
#home.v2 .endorsements .endorsement {
	text-align: center
}
#home.v2 .endorsements .endorsement p {
	text-align: center;
	font-style: italic;
	margin: 0
}
#home.v2 .endorsements .endorsement img {
	margin: 10px
}
#home.v2 .endorsements .endorsement img.cc {
	margin: 25px 0
}
#home.v2 .nametag .col-1-2 {
 height: 500px 
}

#home.v2 .nametag-badge {
	margin: 90px 0 0 0;
	width: 460px;
	height: 287px
}
#home.v2 .person {
	width: 268px;
	height: 300px;
	margin: 0 0 0 90px;
	padding: 10px;
	top: -200px;
	left: 6px
}
#home.v2 .person img {
	width: 60px;
	height: 60px;
	margin: 0;
	border-radius: 2px
}
#home.v2 .person img.association {
	margin: 0 0 0 34px
}
#home.v2 .person p {
	margin-top: 42px;
	text-align: center
}
#home.v2 .person h5 {
	font-size: 14px;
	margin-top: 10px
}
#home.v2 .person h5 span {
	color: #6a9b29;
	font-size: 12px
}
#home.v2 .person h6 {
	font-size: 11px;
	color: #999
}
@media screen and (max-width: 640px) {
#home .signup .col-1-2 {
	margin: 0;
	width: 100%
}
#home .signup input, #home .signup button, #home .signup h1, #home .signup h2 {
	width: 100%
}
#home .nametag {
	display: none
}
#home .endorsements {
	display: none
}
#home .features {
	padding: 0 10px 10px 10px
}
#home .features .col-1-3 {
	width: 100%;
	margin: 0
}
#home .features .col-1-3 p {
	margin: 0
}
#home .signup_again {
	margin: 10px 0;
	padding: 10px
}
#home .signup_again .col-1-4 {
	display: none
}
#home .signup_again .col-1-2 {
	width: 100%
}
#home .signup_again input, #home .signup_again button {
	width: 100%
}
}